.header {
    width: 100%;
    height: 0%;
    background-color: rgb(182, 163, 148);
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.ul {
    justify-content: baseline;
    text-align: center;
    display: inline;
}

.header li {
    margin: 1rem;
    display: inline-block;
}